/*Should I add my github and linkedln links with icons to footer?*/
/*I could not a solution about line 174.I dont want to give height because I want to see original version of images. But it is very ugly without height*/

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Background photo*/
.backgroundimg {
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}
/* Top bar*/
.social{
    background-color: black;
    color: white;
    width: 100%;
    max-width: 1300px;
    height: 3.438rem;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 1.375rem;
    text-align: right;
    padding: 0.938rem;
    font-family: 'Caveat', cursive;
    opacity: 0.7;    
}
/* Club name */
.font{
    float: left;
    letter-spacing: 0.125rem;
    margin: 0;
    padding: 0;
}
/* Definition of the website*/
span{
    font-size: 1rem;
    letter-spacing: 0.063rem;
}
/* Edit the all a selectors inside of social class*/
.social a{
    margin-right: 0.938rem;
    color: white;
    
}
/* Edit the a selectors inside of the social class when on hover*/
.social a:hover{
    transition: opacity 300ms;
    opacity: 0.5;
    background-color: black;
}
/* Edit div tag which has id container*/
#container{
  width:85%;
  margin: auto;
  height: auto;  
}
/* Edit logo, slogan and background photo of them*/
header{
  width: 100%;
  height: 15.625rem;
  box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  position: relative;
  margin-bottom: 0.313rem;

}
/* Edit background photo of logo*/
#header-image{
  width: 100%;
  height: 15.625rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
/* Edit slogan of header which under the logo*/
.header-text{
  text-align: center;
  margin: -3.125rem;
  font-family: 'Caveat', cursive;
  font-size: 1.875rem;
  color: white;
}

#centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

section{
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.5);
  margin-top: 0.938rem;
  overflow: auto;
}

nav{
  width: 20%;
  float: left;
  margin-top: 0.625rem;
  height: auto;

}

nav ul{
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;

}

nav li{
  list-style-type: none;

}

nav li a{
  height: 3.125rem;
  line-height: 3.125rem;
  text-decoration: none;
  color: black;
  border-bottom: 0.063rem solid #b4b4b4;
  padding-left: 1.25rem;
  display: block;

}

nav li a:hover{
  color: white;
  background-color: #adadad;

}
 i{
   margin-right: 0.625rem;
 }

 article{
   float: left;
   height: auto;
   width: 80%;
   padding: 0.625rem; 
   
 }

 .content{
   width: 46%;
   height: auto;
   display: inline-block;
   margin-right: 0.938rem;
   border-radius: 10px;
   box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.5);
   margin-bottom: 0.938rem;


 }
/*  ★ ★ ★I can not describe height: auto; for .infimg ★ ★ ★*/
 .infimg{
   width: 100%;
   border-bottom-left-radius: 0.625rem;
   border-bottom-right-radius: 0.625rem;
   transition: opacity 600ms;
   height: 15rem;

 }

 h5{
   margin: 0.625rem;
   color: dimgray;
 }

 .context{
   margin:  0.625rem;
   color: dimgray;
 }

 .btnread:link{
   display: block;
   width: 9.375rem;
   height:2.813rem;
   padding: 0.625rem 1.25rem;
   background-color: rgba(0, 0, 255, 0.397);
   color: white;
   text-decoration: none;
   margin: 0.938rem;
   border-radius: 0.625rem;
 }

 .btnread:hover{
   opacity: 0.8;
 }

 .infimg:hover{
   opacity: 0.5;
 }

 footer{
   width: 100%;
   height: 4.688rem;
   background-color: black;
   font-family: 'Caveat', cursive;
   line-height: 4.688rem;
   text-align: center;
   opacity: 0.7;
   font-size: 1.25rem;
   box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.5);
   
 }

 footer a{
   color: white;
   text-decoration: none;
 }

 footer a:hover{
   opacity: 0.6;
   transition: opacity 500ms;
 }

 h1{
   text-align: center;
   background-color: black;
   color: white;
   height: 3.125rem;
   line-height: 3.125rem;
   margin: 0 0.625rem;
   border-radius: 0.625rem;
   box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.5);
   opacity: 0.8;
 }

 .teams{
   width: 47.3%;
   height: 18.75rem;
   background-color: #f1f1f1;
   float: left;
   margin: 0.625rem;
   border-radius: 0.313rem;
   box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.5);
 }

 .teamsimg{
   width: 100%;
   height: 15.625rem;
   border-top-left-radius: 0.313rem;
   border-top-right-radius: 0.313rem;
   transition: opacity 600ms;

 }

 .teamnames{
   font-size: 1.25rem;
   display: inline-block;
   margin: 0;
   color: black;
   text-align: center;
   height: 2.938rem;
   line-height: 2.813rem;
   width: 100%;
   margin-top: -0.313rem;
 }

 .teamsimg:hover{
   opacity: 0.5;
 }

 .society-text{
   float: right;
   font-size: 1.125rem;
   width: 45%;
   height: auto;
   margin-right: 0.938rem;
  
 }
 .society{
   float: left;
   border-radius: 0.313rem;
   width: 45%;
   margin: 1.25rem  0.938rem 1.25rem 1.25rem;
   height: auto;
 }

 .galeryimg{
   width: 30%;
   height: 12.5rem;
   border-radius: 0.313rem;
   opacity: 0.6;
   transition: all 600ms;
   box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.5);
   margin: 0.625rem;
   object-fit: cover;
 }

 .galeryimg:hover{
   opacity: 1;
   border: 0.313rem solid white; 
   cursor: pointer;
 }

 iframe{
   width: 46.5%;
   height: 15.625rem;
   border-radius: 0.313rem;
   float: left;
   margin: 1.25rem 0 1.25rem 0.938rem;
   box-shadow: 0 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.5);
 }
 

 .address{

   width: 46.5%;
   height: 15.625rem;
   float: right;
   margin: 1.25rem 0.938rem 0 0;
   background-color: #f2f2f2;
   padding: 0.313rem 0.625rem 0.625rem 0.625rem;
   border-radius: 0.313rem;
   text-align: center;

 }

 .addresstitle{
   font-weight: bold;
   font-size: 20px;
 }

 .addresssubtitle{
   font-weight: bold;
   font-size: 18px;
 }

.addressmail{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
 

 .address{
   width: 100%;
   margin: 10px auto;
 }
 iframe{
   width: 100%;
   margin: 10px auto;
 }
 nav{
   width: 100%;
   margin-bottom: 10px;
 }
 article{
   margin-left: 30px;
 }
 .social{
   display: inline-flex;
   height: auto;
 }
  .social a{
    margin: auto 5px;
  }
 .galeryimg{
   margin:15px auto;
   display: block;
   min-width: 100%;
   height: auto;
   opacity: 1;
 }

 article{
   min-width: 100%;
   margin: auto;
 }
 
 article h1{
   min-width: 100%;
   margin: 15px auto;
 }
.teams{
   margin:15px auto;
   display: block;
   min-width: 100%;
   height: auto;
}
.teams img{
  object-fit: contain;
  height: auto;
}
.society{
  min-width: 100%;
  height: auto;
  margin: auto;
}
.society-text{
  min-width: 100%;
  height: auto;
  margin: 3px 3px 15px 3px;
}

#container{
  width: 90%;
  margin: auto;
  
}

.content{
  margin:15px auto;
   display: block;
   min-width: 100%;
   height: auto;
   object-fit: contain;
}
.content a{
 margin: 2px auto;
 height: auto;
 
}
.btnread:link{
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: 15px;
}
}




 